[Unit]
Description=IMPReSS JSON Updater
After=network.target

[Service]
User=impressuser
Group=impressgroup
WorkingDirectory=/path/to/impress-tools
ExecStart=/path/to/impress2json --short daemon

[Install]
WantedBy=multi-user.target
